<<<<<<< HEAD
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:sans-serif;
}
body{
    background-image:url(https://github.com/MazenEssam02/Web-Development-Workshop/blob/main/Session%202/Academy%20Form%20Task/imgs/main_bg7.jpg?raw=true);
    background-position: center;
    background-size:cover;
}
.logo{
    display: block;
    margin:0 auto;
    width: 50%;

}
.title{
    color: white;
    text-align: center;
    padding-bottom:15px;
    padding-top: 5px;
    border-bottom: 2px gray solid;
}
.main-container{
    background-color: rgba(0,0, 0,0.6);
    margin: 40.2px auto;
    width: 50%; 
    padding: 20px;
    border-radius: 10px;
    
    
}
.input-container label{
color: white;
display: block;
font-weight: bold;
text-align: center;
margin:5px 0px;
}
.input-container input,.input-container select{
text-align: center;
width: 100%;
padding:5px;
border-radius: 5px;
}
.register-button input{
   padding: 5px;
   border-radius: 3px;
    width: 100%;
    color: white;
    font-weight:bold;
    background-color:rgba(33, 100, 208, 0.7);
}
.register-button input:hover{
    background-color:rgb(15, 18, 121,0.7);
transition: 30ms;
cursor:pointer;
}
=======
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:sans-serif;
}
body{
    background-image:url(https://github.com/MazenEssam02/Web-Development-Workshop/blob/main/Session%202/Academy%20Form%20Task/imgs/main_bg7.jpg?raw=true);
    background-position: center;
    background-size:cover;
}
.logo{
    display: block;
    margin:0 auto;
    width: 50%;

}
.title{
    color: white;
    text-align: center;
    padding-bottom:15px;
    padding-top: 5px;
    border-bottom: 2px gray solid;
}
.main-container{
    background-color: rgba(0,0, 0,0.6);
    margin: 40.2px auto;
    width: 50%; 
    padding: 20px;
    border-radius: 10px;
    
    
}
.input-container label{
color: white;
display: block;
font-weight: bold;
text-align: center;
margin:5px 0px;
}
.input-container input,.input-container select{
text-align: center;
width: 100%;
padding:5px;
border-radius: 5px;
}
.register-button input{
   padding: 5px;
   border-radius: 3px;
    width: 100%;
    color: white;
    font-weight:bold;
    background-color:rgba(33, 100, 208, 0.7);
}
.register-button input:hover{
    background-color:rgb(15, 18, 121,0.7);
transition: 30ms;
cursor:pointer;
}
>>>>>>> 33a44f80de647679efdc6539281c493f8f99225f
